<h1><%= @animal.name %></h1>

<p><a href="/animals/<%= @animal.id %>/edit">Edit</a></p>

<p><a href="/animals/<%= @animal.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/animals">Return to species listing</a></p>