<h1>New species saved!</h1>

<p>Your species was successfully saved.</p>

<p><a href="/animals/<%= @animal.id %>">View <%= @animal.name %></a></p>

<p><a href="/animals">Return to species listing</a></p>